*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  max-width: 1300px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.svg-icon {
  height: 15px;
  width: 15px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 26px;
  color: #4073de;
}

.nav-container {
  height: 100%;
}

.nav,
.nav-item,
.nav-item .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav-item:not(:first-child) {
  margin-left: 10px;
}

.nav-item .link {
  padding: 0 20px;
  color: #000;
  font-weight: 700;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.nav .link:hover,
.nav .link:focus {
  color: #fff;
  background: #a75cfa;
  background: -webkit-gradient(linear, left top, left bottom, from(#a75cfa), color-stop(61%, #185ed3));
  background: linear-gradient(180deg, #a75cfa 0%, #185ed3 61%);
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.hero {
  height: 650px;
  background-image: url(../img/jpg/hero.jpg);
  background-size: cover;
  background-position: center center;
}

.about-us {
  max-width: 1300px;
}

.list-about-us {
  position: absolute;
  top: -320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-right: 10px;
  margin-left: -40px;
  color: #fff;
}

.about-us-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc((100% / 4) - 40px);
  margin-left: 40px;
}

.about-us-button {
  width: 40px;
  height: 60px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.about-us-button:hover,
.about-us-button:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.about-us-button svg {
  width: 100%;
  height: 100%;
}

.about-us .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 20px;
}

.about-us-title {
  padding-right: 50px;
  padding-left: 20px;
  font-size: 30px;
}

.about-us-text {
  max-width: 230px;
  margin-bottom: 0;
  padding-right: 20px;
  padding-left: 20px;
}

.about-us-item:first-child {
  background: #ffaf00;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffaf00), to(#ff8615));
  background: linear-gradient(180deg, #ffaf00 0%, #ff8615 100%);
}

.about-us-item:nth-child(2) {
  background: #ba5cff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ba5cff), to(#175ed2));
  background: linear-gradient(180deg, #ba5cff 0%, #175ed2 100%);
}

.about-us-item:nth-child(3) {
  background: #ff2f50;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff2f50), to(#ff1d97));
  background: linear-gradient(180deg, #ff2f50 0%, #ff1d97 100%);
}

.about-us-item:last-child {
  background: #ff15e7;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff15e7), to(#b71fe0));
  background: linear-gradient(180deg, #ff15e7 0%, #b71fe0 100%);
}

.our-school {
  margin-top: 180px;
}

.our-school-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -20px;
}

.our-school-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.our-school-item:not(:first-child) {
  margin-top: 20px;
}

.box {
  width: calc((100% / 2) - 20px);
  margin-left: 20px;
}

.content-box {
  padding: 40px 20px;
  background-color: #f7f7f7;
}

.our-school .title {
  font-size: 30px;
  font-weight: normal;
}

.our-school .text {
  margin-top: 20px;
  font-size: 20px;
}

.our-school .button {
  padding: 15px 30px;
  margin-top: 60px;
  border: none;
  color: #fff;
  background: #ff8901;
  background: -webkit-gradient(linear, left top, right top, from(#ff8901), to(#ff314f));
  background: linear-gradient(90deg, #ff8901 0%, #ff314f 100%);
  -webkit-transition: outline 300ms;
  transition: outline 300ms;
}

.our-school .button:hover,
.our-school .button:focus {
  outline: 2px solid #ff8f26;
  -webkit-transition: outline 300ms;
  transition: outline 300ms;
}

.rate {
  height: 450px;
  background-image: url(../img/jpg/rate.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-box {
  height: 100%;
  max-width: 1300px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
  color: #fff;
}

.rate .card {
  height: 100%;
  width: calc((100% / 2) - 10px);
  margin-left: 0;
  margin-right: auto;
  padding: 60px 70px 50px 40px;
  background: #e63150;
  background: -webkit-gradient(linear, left bottom, left top, from(#e63150), to(rgba(228, 7, 132, 0.849475)));
  background: linear-gradient(0deg, #e63150 0%, rgba(228, 7, 132, 0.849475) 100%);
}

.rate .text {
  margin-top: 30px;
}

.rate .title {
  font-size: 30px;
  font-weight: normal;
}

.rate-button {
  padding: 20px 30px;
  margin-top: 30px;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-left: -20px;
}

.event-box {
  padding: 60px;
  background: #ffaf00;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffaf00), to(#ff8615));
  background: linear-gradient(180deg, #ffaf00 0%, #ff8615 100%);
  color: #fff;
}

.events-item {
  margin-top: 20px;
}

.events .title {
  font-size: 30px;
  font-weight: normal;
}

.our-team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -20px;
  margin-top: 200px;
}

.our-team-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc((100% / 4) - 20px);
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f3f3f3;
}

.our-team .img {
  position: absolute;
  top: -50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 30px;
  border-radius: 50%;
}

.comment {
  margin-top: 180px;
}

.name {
  margin-bottom: 30px;
  margin-top: auto;
  text-align: center;
  font-size: 25px;
  color: #ff6300;
}

.name::after {
  content: '';
  position: relative;
  top: 8px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #ff6300;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.name:hover::after,
.name:focus::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  margin-left: -20px;
}

.contacts .box {
  margin-left: 20px;
  padding: 0 20px;
}

.contacts .box:first-child {
  width: calc(100% - 400px);
}

.map {
  margin-right: 0;
  margin-left: auto;
}

.links.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #009ae1;
  background: -webkit-gradient(linear, left bottom, left top, from(#009ae1), to(#007bc5));
  background: linear-gradient(0deg, #009ae1 0%, #007bc5 100%);
  color: #fff;
}

.contact-link {
  color: #fff;
}

.contact-link:not(:first-child) {
  margin-top: 20px;
}

.contact-link:hover,
.contact-link:focus {
  text-decoration: underline;
}

.contacts .title {
  font-weight: normal;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 300px;
  margin-top: 20px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}

.social .svg {
  height: 30px;
  fill: #009ae1;
  -webkit-transition: fill 300ms;
  transition: fill 300ms;
}

.social-link:hover,
.social-link:focus {
  background-color: #009ae1;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}

.social-link:hover .svg,
.social-link:focus .svg {
  fill: #fff;
  -webkit-transition: fill 300ms;
  transition: fill 300ms;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
}
/*# sourceMappingURL=main.css.map */