.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.logo{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 26px;
    color: #4073de;
}

.nav-container{
    height: 100%;
}

.nav,
.nav-item,
.nav-item .link{
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-item:not(:first-child){
    margin-left: 10px;
}

.nav-item .link{
    padding: 0 20px;
    color: #000;
    font-weight: 700;
    transition: color 300ms;
}

.nav .link:hover,
.nav .link:focus{
    color: #fff;
    background: rgb(167,92,250);
    background: linear-gradient(180deg, rgba(167,92,250,1) 0%, rgba(24,94,211,1) 61%);
    transition: color 300ms;
}