.rate{
    height: 450px;
    margin-top: 80px;
    background-image: url(../img/jpg/rate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-box{
    height: 100%;
    max-width: 1300px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
    color: #fff;
}

.rate .card{
    height: 100%;
    width: calc((100% / 2) - 10px);
    margin-left: 0;
    margin-right: auto;
    padding: 60px 70px 50px 40px;
    background: rgb(230,49,80);
    background: linear-gradient(0deg, rgba(230,49,80,1) 0%, rgba(228,7,132,0.8494748241093313) 100%);
}

.rate .text{
    margin-top: 30px;
}

.rate .title{
    font-size: 30px;
    font-weight: normal;
}

.rate-button{
    padding: 20px 30px;
    margin-top: 30px;
}