*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    // color: $text-color
}

a{
    text-decoration: none;
    // color: $text-color
}

img{
    width: 100%;
    height: auto;
}

button{
    cursor: pointer;
}

// a:hover,
// a:focus{
//     color: $hover;

// }

// a:hover .svg,
// a:focus .svg{
//     fill: $hover;
// }

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    max-width: 1300px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.svg-icon{
    height: 15px;
    width: 15px;
}